


.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.title-text {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10%;
}

.title-icon {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 24px;
  color: black;
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

.card {
  width: 500px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0px 4px 5px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  color: white;
  position: relative;
}

.card-content {
  position: relative;
  z-index: 2;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-description {
  font-size: 14px;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
}



