<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="title-container">
      <div class="title-text">
        <ion-title class="title">LearnSets</ion-title>
      </div>
      <div class="title-icon">
        <img class="icons" src="assets/icon/home.png" alt="Custom Icon" width="24" height="24"/>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <!-- Schleife durch die LearnSets -->
    <div *ngFor="let learnSet of learnSets; let i = index" class="card" [style.background-image]="'url(' + learnSet.image_url + ')'">
      <div class="card-content">
        <div class="learnset-top">
          <div>
            <h2 class="card-title">{{ learnSet.title }}</h2>
          </div>
          <div class="delete-flashcard-button-container">
            <img class="header-icon" src="assets/icon/delete.png" alt="Custom Icon" width="24" height="24" (click)="deleteLearnSet(i)"/>
          </div>
        </div>
        <p class="card-description">{{ learnSet.description }}</p>
      </div>

      <!-- Container für die Buttons -->
      <div class="create-change-container">
        <!-- Edit-Button -->
        <button
          class="icon-button"
          [routerLink]="['/edit-learn-set', learnSet.id]"
          routerDirection="forward">
          <img src="assets/icon/edit.png" alt="Edit Icon" width="24" height="24"/>
        </button>

        <!-- Learn-Button -->
        <button
          class="learn-button"
          [routerLink]="['/learn-flashcards', learnSet.id]"
          routerDirection="forward">
          Learn
        </button>
      </div>
    </div>
  </div>


</ion-content>


