


.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.title-text {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10%;
}

.title-icon {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 24px;
  color: black;
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

.card {
  width: 500px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0px 4px 5px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  color: white;
  position: relative;
}

.card-content {
  position: relative;
  z-index: 2;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-description {
  font-size: 14px;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.create-change-container{
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 20px;
}

.icon-button {
  background: black;
  border-radius: 12px;
  width: 35px;
  height: 100%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease;
}

.icon-button img {
  width: 24px;
  height: 24px;
  filter: invert(0); /* Erster Filter */
  transition: filter 0.1s ease;
}

.icon-button img {
  filter: invert(1); /* Zweiter Filter überschreibt den ersten */
}




.learn-button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.01s ease;
}

.learn-button:active {
  background-color: rgb(135, 137, 137);
}

.learnset-top {
  display: flex;
  justify-content: space-between;
}

.delete-flashcard-button-container {
  display: flex;
  justify-content: right;
  padding-bottom: 7px;
}

.floating-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 100px;
  height: 50px;
  background-color: rgb(192, 216, 225);
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 30px;
  z-index: 100;
  transition: background-color 0.01s ease;
}


.floating-button:active {
  background-color: rgb(142, 197, 215);
}





