ion-menu {
  --background: rgba(0.001, 0.001, 0.001, 0.001); /* Halbtransparenter schwarzer Hintergrund */
  color: black;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  color: Black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Elemente beginnen oben */
  backdrop-filter: blur(40px);
}

.sidebar-header {
  padding: 10px;
  font-size: 25px;
  font-weight: 900 !important; /* Light für Header */
  text-align: left;
}

.menu-content {
  padding: 1px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 2px;
  align-items: flex-start;
}

.menu-item {
  display: flex;
  padding: 8px 8px;
  border-radius: 8px;
  color: black !important;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important; /* Medium für Navigationslinks */
  transition: background-color 0.3s ease;

  .icons {
    margin-right: 10px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Leichte Hover-Farbe */
  }
}

.dark-mode-container {
  text-align: center;
  display: flex;
  padding-top: 50px;
}
.dark-mode-toggle{
  font-size: 16px;
  padding: 5px;
  background-color: rgba(184,205,214,0.5);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
}
