<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="title-container">
      <div class="title-text">
        <ion-title class="title">Create LearnSet</ion-title>
      </div>
      <div class="title-icon">
        <img class="icons" src="assets/icon/add.png" alt="Custom Icon" width="24" height="24"/>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="title" placeholder="Enter title"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="description" placeholder="Enter description"></ion-textarea>
  </ion-item>


  <ion-item>
    <ion-label>Upload Image</ion-label>
    <input type="file" (change)="uploadImage($event)" />
  </ion-item>

  <!-- Flashcards -->
  <div *ngFor="let card of flashcards; let i = index" class="flashcard">
    <div class="card-header">Card {{ i + 1 }}</div>
    <ion-item>
      <ion-label position="stacked">Question</ion-label>
      <ion-input [(ngModel)]="card.question" placeholder="Enter question"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Answer</ion-label>
      <ion-input [(ngModel)]="card.answer" placeholder="Enter answer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Upload Answer Image</ion-label>
      <input type="file" (change)="uploadAnswerImage($event, i)" />
    </ion-item>
    <ion-item>
      <ion-label>Record Answer Audio</ion-label>
      <input type="file" accept="audio/*" (change)="uploadAudio($event, i)" />
    </ion-item>
  </div>

  <ion-button expand="block" (click)="addFlashcard()">Add Flashcard</ion-button>
  <ion-button expand="block" (click)="createLearnSet()">Create</ion-button>
</ion-content>


