<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="toolbar">
    <div class="header-container">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-title">KnowIt</ion-title>
      <img class="header-icon" src="assets/icon/add.png" alt="Custom Icon" width="24" height="24" />
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="top-button-container">
    <button class="create-button" routerLink="/learn-sets" routerDirection="root" (click)="createLearnSet()">Create LearnSet</button>
  </div>


  <div class="content-container">

    <div class="form-group">
      <ion-label class="label">Title</ion-label>
      <textarea class="input textarea" [(ngModel)]="title" placeholder="Title:"></textarea>
    </div>


    <div class="form-group">
      <ion-label class="label">Description</ion-label>
      <textarea class="textarea" [(ngModel)]="description" placeholder="Description:"></textarea>
    </div>


    <div class="form-group">
      <ion-label class="label">Learn Set Picture</ion-label>
      <div class="image-preview-container">
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Preview" class="image-preview" />
        <div *ngIf="!imageUrl" class="placeholder-text">Füge das Bild ein</div>
        <input type="file" (change)="uploadImage($event)" class="file-input" />
      </div>
    </div>


    <div class="form-group">
      <ion-label class="label">Cards</ion-label>
      <div *ngFor="let card of flashcards; let i = index" class="flashcard">
        <div class="card-header">{{ i + 1 }}</div>
        <div>
          <ion-label position="stacked">Question:</ion-label>
          <textarea class="textarea" [(ngModel)]="card.question" placeholder="Question:"></textarea>
        </div>
        <div>
          <ion-label position="stacked">Answer:</ion-label>
          <textarea class="textarea" [(ngModel)]="card.answer" placeholder="Answer:"></textarea>
        </div>

      </div>
    </div>
  </div>

  <div class="bottom-add-button-container">
    <button class="add-flashcards-button" (click)="addFlashcard()">Add Flashcard</button>
  </div>
</ion-content>
