ion-toolbar {
  --background: #fff;
  --color: #000;
  font-weight: bold;
}

.toolbar {
  --background: #ffffff;
  --color: #000;
}


.toolbar {
  --background: #ffffff;
  --color: #000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}


.header-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  margin-left: -40px;
}


.header-icon {
  cursor: pointer;
}


.top-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}


.top-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}


.create-button {
  background-color: #a9d6ed;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}


.create-button:hover {
  background-color: rgba(184, 205, 214, 0.5);

}


.create-button:active {
  background-color: rgba(41, 70, 87, 0.5);
  transform: translateY(-2px);
}




.content-container {
  margin: 15px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
  color: black;
}



.input{
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  background-color: #B8CDD6;
  opacity: 0.75;
  margin-bottom: 16px;
  text-align: left;
  vertical-align: top;
  resize: none;
  height: 50px;
  border: none;
}



.textarea {
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  resize: none;
  background-color: #B8CDD6;
  opacity: 0.75;
  border:none;

}



.image-preview-container {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px dashed #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  overflow: hidden;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.placeholder-text {
  color: #777;
  font-size: 16px;
  text-align: center;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.flashcard {
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: rgba(184, 205, 214, 0.51);
}

.card-header {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 8px;
}



.top-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}

.bottom-add-button-container {
  margin: 15px;
}

.add-flashcards-button {
  background-color: #a9d6ed;
  width: 100%;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}


.add-flashcards-button:hover {
  background-color: rgba(184, 205, 214, 0.5);

}


.add-flashcards-button:active {
  background-color: rgba(41, 70, 87, 0.5);
}


.delete-flashcard-button-container {
  display: flex;
  justify-content: right;
  padding-bottom: 7px;
}


.image-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px; /* Abstand zwischen Bild und Buttons */
}

.image-preview {
  width: 500px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.placeholder-text {
  font-size: 14px;
  color: #777;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 10px;
}

.upload-button {
  background-color: #B8CDD6;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


