<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title routerLink="/learn-sets">KnowIt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-container">
    {{ learnSetTitle }}
  </div>

  <div class="card-position" *ngIf="flashcards.length > 0; else endOfLearnSet">
    <div class="card-container" (click)="rotateCard()">
      <div class="items-above-flashcards-container">
        <div class="wrong-flashcards">{{ solvedWrongCount }}</div>
        <h3 class="current-card">{{ currentCardIndex + 1 }} / {{ flashcards.length }}</h3>
        <div class="correct-flashcards">{{ solvedCorrectCount }}</div>
      </div>

      <div class="card" [ngClass]="{'rotated': isRotated}">
        <div class="front">
          {{ flashcards[currentCardIndex]?.question }}
        </div>
        <div class="back">
          {{ flashcards[currentCardIndex]?.answer }}
        </div>
      </div>
    </div>

    <div class="navigation-buttons">
      <img class="header-icon" src="assets/icon/wrong.png" alt="Wrong Icon" width="52" height="52"
           (click)="solvedWrong()"/>
      <img class="header-icon" src="assets/icon/correct.png" alt="Correct Icon" width="52" height="52"
           (click)="solvedRight()"/>
    </div>
  </div>

  <ng-template #endOfLearnSet>
    <div *ngIf="wrongFlashcards.length > 0; else allCorrect" class="action-buttons">
      <div class="wrong-and-correct-container">
        <div class="wrong-percent">
          {{ getWrongPercentage() }}%
        </div>
        <div class="correct-percent">
          {{ getCorrectPercentage() }}%
        </div>
      </div>
      <div class="buttons-retry-container">
      <button class="retry-button" (click)="retryWrong()">Retry wrong cards</button>
      <button class="retry-button" (click)="retryAll()">Retry all cards</button>
      <button class="return-button" routerLink="/learn-sets">Back to Learn Sets</button>
      </div>
    </div>

    <ng-template #allCorrect>
      <div class="action-buttons">
        <div class="congrats-container">
          Congratulation! You mastered this LearnSet
        </div>
        <div class="buttons-retry-container">
        <button class="retry-button" (click)="retryAll()">Retry all cards</button>
        <button class="return-button" routerLink="/learn-sets">Back to Learn Sets</button>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ion-content>
