<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="toolbar">
    <div class="header-container">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title class="header-title" routerLink="/learn-sets">KnowIt</ion-title>
      <img class="header-icon" src="assets/icon/edit.png" alt="Custom Icon" width="24" height="24" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-button-container">
    <button class="create-button" routerLink="/learn-sets" routerDirection="root" (click)="saveLearnSet()">Save LearnSet</button>
  </div>
  <div class="content-container">
    <div class="form-group">
      <ion-label class="label">Title</ion-label>
      <textarea class="textarea" [(ngModel)]="title" placeholder="Enter Title"></textarea>
    </div>

    <!-- Description Input -->
    <div class="form-group">
      <ion-label class="label">Description</ion-label>
      <textarea class="textarea" [(ngModel)]="description" placeholder="Enter Description"></textarea>
    </div>

    <!-- Image Upload -->
    <div class="form-group">
      <ion-label class="label">Learn Set Picture</ion-label>
      <div class="image-preview-container">
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Preview" class="image-preview" />
        <div *ngIf="!imageUrl" class="placeholder-text">Add an image</div>
        <input type="file" (change)="uploadImage($event)" class="file-input" />
      </div>
    </div>

    <!-- Flashcards -->
    <div class="form-group">
      <ion-label class="label">Cards</ion-label>
      <div *ngFor="let flashcard of flashcards; let i = index" class="flashcard">
        <div class="delete-flashcard-button-container">
          <img class="header-icon" src="assets/icon/delete.png" alt="Custom Icon" width="24" height="24" (click)="deleteFlashcard(i)"/>
        </div>
        <div class="card-header">Card {{ i + 1 }}</div>
        <div class="question-answer-container">
        <textarea class="textarea" [(ngModel)]="flashcard.question"  placeholder="Enter Question"></textarea>
        <textarea class="textarea" [(ngModel)]="flashcard.answer" placeholder="Enter Answer"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-button-container">
    <button class="add-flashcard-button" (click)="addFlashcard()">Add Flashcard</button>
  </div>
</ion-content>
